<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="static/styles/layout.css"/>
    <link rel="icon" href="static/pictures/superhero.png"/>
    {% block css_ext %} {% endblock %}
    {% block js_link %} {% endblock %}
    <link href="https://fonts.cdnfonts.com/css/arcade-classic" rel="stylesheet"/>

    <title>Task Hero- {%block title%} {%endblock%} </title>

</head>

<body class="layout_body">
    <header class="layout_header">
        <div class="userContainer">
            <div class="userText">Welcome, {{name}}</div>
            <div class="userText">Title: {{title}}</div>
        </div>
        <div class="titleContainer">
            <div class="titleText">Task Hero</div>
        </div>
        <div class="XPContainer">
            <div id="LVL">{{LVL}}</div>
            <div class="XPBar">
                <div id="XP">{{XP}}</div>
            </div>
        </div>
    </header>
    <main class="layout_main">
        <button class="dropBtn">Menu<img id="menu_img" src="../static/pictures/menu-button.png" alt="Menu"></button>
        <nav class="sidenav">
            <a>Home</a>
            <a>Daily quest</a>
            <a>Tasks</a>
        </nav>
        <article class="layout_article">
           {% block main %} {% endblock %}
        </article>
    </main>
    <footer class="layout_footer">
        I love plagiarism(Footer)
        <a href="about_us">About us</a>
    </footer>
</body>
<script>
    
</script>
</html>

