<header class="layout_header">
    <div class="userContainer">
        <div class="userText">Welcome, <%=username%></div>
        <div class="userText">Title: NOOB</div>
    </div>
    <div class="titleContainer">
        <div class="titleText">Task Hero</div>
    </div>
    <div class="XPContainer">
        <div id="LVL">1</div>
        <div class="XPBar">
            <div id="XP"><%=xp%></div>
        </div>
    </div>
</header>