<button class="dropBtn">Menu<img id="menu_img" src="../../static/pictures/menu-button.png" alt="Menu"></button>
<nav class="sidenav">
    <a href="/">Home</a>
    <a href="/daily_quests">Daily quests</a>
    <a href="/tasks">Tasks</a>
</nav>