<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/styles/layout.css"/>
        <link rel="stylesheet" href="../static/styles/daily_quests.css">
        <script type="text/javascript" src="../static/scripts/daily_quests.js"> </script>
        <link rel="icon" href="../../static/pictures/superhero.png"/>
        <link href="https://fonts.cdnfonts.com/css/arcade-classic" rel="stylesheet"/>
        <title>Task Hero-Daily Quests</title>
    </head>
    <body class="layout_body">
        <%- include("layout/layout_header") %>
            <main class="layout_main">
                <%- include("layout/layout_side")%>
                <article class="layout_article">
                    <h5>Daily Quests</h5>
                </article>
            </main>
        <%- include("layout/layout_footer") %>
    </body>
</html>

