<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href="../static/styles/layout.css">
        <link rel='stylesheet' href="../static/styles/auth.css">
        <script type="text/javascript" src="../static/scripts/login.js"></script>
        <link rel="icon" href="../../static/pictures/superhero.png"/>
        <link href="https://fonts.cdnfonts.com/css/arcade-classic" rel="stylesheet"/>
        <title>Task Hero-Login</title>
    </head>
    <body id="auth_body">
        <header>
            <h1>Welcome to task hero!</h1>
        </header>
        <main id="auth_main">
            <aside></aside>
            <div id="form_container">
                <form id="auth_form" method="post" action="/login">
                    <h3><a href="/register">Register</a> | Login</h3>
                    <input class="auth_input" type="text" name ="email" placeholder="email" id="email" value="<%=email%>" required>
                    <input class="auth_input" type="password" name="password" placeholder="password" id="password" value="<%=password%>" required>
                    <input type="submit" id="auth_submit" value="Login">
                    <div id="submit_err"><%=err_msg%></div>
                </form>
            </div>
            <aside></aside>
        </main>
        <%-include('layout/layout_footer')%>
    </body>
</html>