<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href="../static/styles/layout.css">
        <link rel='stylesheet' href="../static/styles/auth.css">
        <script type="module" src="../static/scripts/register.js"></script>
        <link rel="icon" href="../static/pictures/superhero.png"/>
        <link href="https://fonts.cdnfonts.com/css/arcade-classic" rel="stylesheet"/>
        <title>Task Hero-Register</title>
    </head>
    <body id="auth_body">
        <header>
            <h1>Welcome to task hero!</h1>
        </header>
        <main id="auth_main">
            <aside></aside>
            <div id="form_container">
                <form id="auth_form" method="post" action="/register">
                    <h3>Register |<a href="/login">Login</a></h3>
                    <div class="input_container"><input class="auth_input" type="text" name="username" placeholder="username" id="username"><img src="../static/pictures/red_cross.png" title="Incomplete username"></div>
                    <div class="input_container"><input class="auth_input" type="text" name ="email" placeholder="email" id="email"><img src="../static/pictures/red_cross.png" title="Incomplete email"></div>
                    <div class="input_container"><input class="auth_input" type="password" name="password" placeholder="password" id="password"><img src="../static/pictures/red_cross.png" title="Incomplete password"></div>
                    <input type="submit" id="auth_submit" value="Register">
                    <div id="err_div"></div>
                </form>
            </div>
            <aside></aside>
        </main>
        <%-include('layout/layout_footer')%>
    </body>
</html>