<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="styles.css"/>
    <!--See if this actually works-->
    <script type="text/javascript" src="index.js"></script>
    <link href="https://fonts.cdnfonts.com/css/arcade-classic" rel="stylesheet">
</head>

<body>
    <header>
        <div class="homeContainer">
            <div class="userContainer">
                <div class="userText centered">Welcome, {{name}}</div>
                <div class="userText centered">Title: {{title}}</div>
            </div>
            <div class="titleContainer">
                <div class="titleText">Task Hero</div>
            </div>
            <div class="XPContainer">
                <div class="LVLTXT centered">LVL {{LVL}}</div>
                <div class="XPBar">
                    <div class="XP">{{XP}}xp</div>
                </div>
            </div>
        </div>
    </header>
    <nav class="sidenav">
        <a>Home</a>
        <br>
        <a>Daily quest</a>
        <br>
        <a>Tasks</a>
    </nav>
        {% block main %}{%ednblock%}
    
</body>
<script>
    /*
    function setXP(){
        let XP = {{XP | safe}}; //Actual XP
        let XP_goal = {{XP_goal | safe}}; //XP goal
        //Percentage for the XP bar
        document.getElementsByClassName("XP")[0].style.width = ((1.0 * XP / XP_goal * 100).toFixed(2)).toString() + "%";
    }
    */
</script>